.idea/
.vscode/
.DS_Store
.env
.env.*
!.env.example

/vendor/
/composer.phar
/composer
/drush.phar

/web/core/
/web/libraries/
/web/modules/contrib/*
!/web/modules/contrib/.gitkeep
/web/profiles/contrib/*
!/web/profiles/contrib/.gitkeep
/web/themes/contrib/*
!/web/themes/contrib/.gitkeep

/web/sites/*/files/
/web/sites/*/private/
/web/sites/*/translations/
/web/sites/*/tmp/
/web/sites/*/settings.local.php
/web/sites/*/settings.prod.php
/web/sites/*/services.local.yml

/web/.csslintrc
/web/.editorconfig
/web/.eslintignore
/web/.eslintrc.json
/web/.gitattributes
/web/.htaccess
/web/.ht.router.php
/web/autoload.php
/web/composer.json
/web/composer.lock
/web/example.gitignore
/web/index.php
/web/INSTALL.txt
/web/LICENSE.txt
/web/README.txt
/web/robots.txt
/web/update.php
/web/web.config

/database/*.sql
/database/*.sql.gz
